/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Variables
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root {
  --wiqi-nav-font-size:14pt;

  --wiqi-page-width:800px;
  --wiqi-page-padding:8px;
  --wiqi-side-bar-width:256px;

  --wiqi-monospace-font:'Courier new', Courier, monospace;
  --wiqi-border:1px solid var(--wiqi-text);

  --wiqi-text:#333333;
  --wiqi-text-2:#777777;
  --wiqi-bg:#FEF9F1;
  --wiqi-bg-2:#EEEEEE;
  --wiqi-bg-code:#DDDDDD;
}

@media (prefers-color-scheme:dark) {
  :root {
    --wiqi-text:#F2D591;
    --wiqi-text-2:#E7A771;
    --wiqi-bg:#18150F;
    --wiqi-bg-2:#252017;
    --wiqi-bg-code:#444444;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  background-color:var(--wiqi-bg-2);
  color:var(--wiqi-text);
}

*.bordered {
  border:var(--wiqi-border);
  border-radius:8px;
}

p {
  margin:0px;
}

p + p {
  margin-top:8px;
}

a::after {
  content:'›'
}

a[rel="external"]::after {
  content:'»';
}

details {
  padding:4px;
}

details[open] {
  border:1px solid var(--wiqi-text-2);
}

details[open] > summary {
  margin-bottom:8px;
}

summary:hover {
  cursor:pointer;
}

ul, ol {
  margin-top:0px;
}

li {
  margin:8px 0px;
}

code {
  background-color:var(--wiqi-bg-code);
  font-family:var(--wiqi-monospace-font);
}

kbd {
  border:var(--wiqi-border);
  background-color:var(--wiqi-bg-2);
  border-radius:4px;
  padding:0px 2px;
  font-family:var(--wiqi-monospace-font);
  margin:0px 2px;
}

code > pre {
  background-color:var(--wiqi-bg-code);
  font-family:var(--wiqi-monospace-font);
  padding:8px;
  border-radius:8px;
  overflow:auto;
  border:var(--wiqi-border);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Navbar
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body > nav {
  position:fixed;
  top:0;
  left:0;
  z-index:1000;

  width:100%;
  padding-top:var(--wiqi-page-padding);
  padding-bottom:var(--wiqi-page-padding);

  background-color:var(--wiqi-bg);
  border-bottom:var(--wiqi-border);
}

body > nav a {
  font-size:var(--wiqi-nav-font-size);
  text-decoration:none;
}

body > nav a::after {
  content:none;
}

body > nav a + a::before {
  content:'∘ ';
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * wiqi-page, wiqi-content, wiqi-side-bar
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

wiqi-page {
  display:none;

  margin:auto;
  margin-top:calc(var(--wiqi-nav-font-size) + 4 * var(--wiqi-page-padding));

  background-color:var(--wiqi-bg);
  min-height:95vh;

  overflow:auto;
}

wiqi-page[open] {
  display:block;
}

wiqi-page section {
  max-width:var(--wiqi-page-width);
  margin:auto;

  overflow:auto;
}

wiqi-page section > h1,
wiqi-page section > h2 {
  border-bottom:var(--wiqi-border);
  width:calc(var(--wiki-page) - 2 * var(--wiqi-page-padding));
  text-align:left;
  margin:var(--wiqi-page-padding);
}

wiqi-page section > h1 {
  text-align:center;
}

wiqi-page section > h2::before {
  content:'§ ';
  color:var(--wiqi-text-2);
}

wiqi-page section > details[open] {
  border:none;
}

wiqi-page section > details > summary {
  text-align:left;
  font-size:16pt;
  font-weight:bold;
  margin-bottom:var(--wiqi-page-padding);
}

wiqi-page section > details[open] > summary {
  border-bottom:var(--wiqi-border);
  width:calc(var(--wiki-page) - 2 * var(--wiqi-page-padding));
}

wiqi-content {
  display:block;

  text-align:left;

  float:left;
  width:calc(100% - var(--wiqi-side-bar-width) - 3 * var(--wiqi-page-padding));
  margin-bottom:var(--wiqi-page-padding);

  padding:var(--wiqi-page-padding);
}

wiqi-side-bar {
  display:block;

  float:left;
  margin-bottom:var(--wiqi-page-padding);

  width:var(--wiqi-side-bar-width);
}

@media (width < 600px) {
  wiqi-content,
  wiqi-side-bar {
    float:none;
    margin:auto;
  }

  wiqi-content {
    width:95%;
  }

  wiqi-side-bar {
    width:60%;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * wiqi-profile
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

wiqi-profile {
  display:block;

  border:var(--wiqi-border);
  border-radius:8px;

  width:100%;
  margin:auto;

  overflow:auto;
}

wiqi-profile > img {
  width:60%;
  margin-bottom:8px;
}

wiqi-profile table {
  width:100%;
  margin:4px auto;

  border-collapse:collapse;
}

wiqi-profile table td {
  border-top:var(--wiqi-border);

  padding:4px 8px;
  vertical-align:top;

  text-align:right;
  font-style:italic;
}

wiqi-profile table td + td {
  border-left:1px dotted var(--wiqi-text-2);

  text-align:left;
  font-style:normal;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * wiqi-quote
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

wiqi-quote {
  display:block;

  background-color:var(--wiqi-bg-2);
  padding:8px;
  font-family:var(--wiqi-monospace-font);
  border-radius:8px;

  margin-top:8px;
}

wiqi-quote q {
  display:block;

  padding:4px 0px;
}

wiqi-quote q[data-speaker="1"] {
  margin-left:0%;
}

wiqi-quote q[data-speaker="2"] {
  margin-left:15%;
}

wiqi-quote q[data-speaker="3"] {
  margin-left:30%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * wiqi-link-tree
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

wiqi-link-tree {
  display:block;

  width:100%;
  margin:auto;

  overflow:auto;
}

wiqi-link-tree h2 {
  text-align:right;

  margin-bottom:0px;
  padding:0px 8px;
}

wiqi-link-tree nav {
  text-align:right;

  margin-bottom:16px;
  padding:0px 8px;

  border-right:var(--wiqi-border);
}

wiqi-link-tree nav a {
  display:block;
  text-decoration:none;
  margin-top:4px;
}
