/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Variables
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@font-face {
  font-family:Sarala;
  src:url('./fonts/Sarala-Regular.ttf');
  font-display:swap;
}

@font-face {
  font-family:Sarala;
  src:url('./fonts/Sarala-Bold.ttf');
  font-weight:bold;
  font-display:swap;
}

@font-face {
  font-family:DMMono;
  src:url('./fonts/DMMono-Regular.ttf');
  font-display:swap;
}

@font-face {
  font-family:DMMono;
  src:url('./fonts/DMMono-Italic.ttf');
  font-style:italic;
  font-display:swap;
}

:root {
  /* Kanagawa neovim theme. */
  --wiqi-text:#DCD7BA;
  --wiqi-text-2:#B6B082;
  --wiqi-bg:#1F1F28;
  --wiqi-bg-2:#666666;
  --wiqi-bg-code:#444444;
  --wiqi-primary:#19647E;
  --wiqi-highlight:#CC4444;
  --wiqi-error:#CC4444;

  --wiqi-font:Sarala, Helvetica, Arial, sans-serif;
  --wiqi-font-size:14pt;
  --wiqi-font-code:DMMono, 'Courier New', Courier, monospace;
  --wiqi-font-code-size:12pt;

  --wiqi-padding:12px;
}

@media (prefers-color-scheme:light) {
  :root {
    --wiqi-text:#1F271B;
    --wiqi-text-2:#7D5C65;
    --wiqi-bg:#F9ECCC;
    --wiqi-bg-2:#C8C093;
    --wiqi-bg-code:#DDDDDD;
    --wiqi-primary:#2D4F67;
    --wiqi-highlight:#CC4444;
    --wiqi-error:#CC4444;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * CSS Reset.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

* {
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Classes.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

*.text-error {
  color:var(--wiqi-error);
}

*.text-text {
  color:var(--wiqi-text);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html {
  font-family:var(--wiqi-font);
  font-size:var(--wiqi-font-size);
  line-height:1.5;
  color:var(--wiqi-text);
  background:var(--wiqi-bg);
  hyphens:auto;
  text-rendering:optimizeLegibility;
  font-kerning:normal;
}

body {
  padding:16px;
  margin:0px auto;
  max-width:90ch;
  min-height:100vh;
  display:grid;
  grid-template:
    "navs" min-content
    "main" 1fr
    "foot" min-content
  / 1fr;
}

body > nav {
  grid-area:navs;
}

body > main {
  grid-area:main;
}

body > footer {
  grid-area:foot;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Links.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a {
  color:var(--wiqi-text);
  text-decoration:none;
  white-space:nowrap;
}

a:hover {
  color:var(--wiqi-highlight);
}

a::after {
  content:'›';
  color:var(--wiqi-highlight);
}

a[target="_blank"]::after {
  content:'»';
}

a[href^="#"]::after {
  content:'↓';
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Nav.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body > nav {
  text-align:center;
}

body > nav a + a::before {
  content:' ∘ ';
  color:var(--wiqi-text);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Header.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

header {
  margin:var(--wiqi-padding) 0px;
  border-bottom:12px double var(--wiqi-primary);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Section.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

section {
  display:grid;
  column-gap:1ch;
  grid-template:
    "head" min-content
    "text" min-content
    "side" min-content
  / 1fr;
}

section.gallery {
  display:block;
}

@media (width > 700px) {
  section {
    grid-template:
      "head head" min-content
      "link link" min-content
      "text side" min-content
    / 1fr   min-content;
  }

  @media (width > 900px) {
    section {
      grid-template:
        "head head head" min-content
        "link text side" min-content
      / 12ch  1fr  min-content;
    }
  }
}

section > h2 {
  grid-area:head;
}

section > nav {
  grid-area:link;
}

section > span {
  grid-area:text;
}

section > aside {
  grid-area:side;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Link Tree.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

section > nav {
  display:none;
  color:var(--wiqi-text-2);
  text-align:left;
  margin-bottom:var(--wiqi-padding);
}

section > nav a {
  color:var(--wiqi-text-2);
  display:inline;
}

section > nav a + a::before {
  content:' • ';
  color:var(--wiqi-text);
}

@media (width > 700px) {
  section > nav {
    display:block;
  }

  @media (width > 900px) {
    section > nav a {
      display:block;
      margin-left:1ch;
    }

    section > nav a::before {
      content:' • ';
      color:var(--wiqi-text);
    }
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Section Main Text.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

section > span {
  max-width:50ch;
  text-align:justify;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Side.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

section > aside {
  margin-bottom:var(--wiqi-padding);
  margin-inline:auto;
  padding:var(--wiqi-padding);
  border:2px solid var(--wiqi-text);
  border-radius:8px;
  width:20ch;
  text-align:center;
  height:fit-content;
  font-style:normal;
  color:var(--wiqi-text);
}

section > aside::before,
section > aside::after {
  content:none;
}

section > aside dl {
  text-align:left;
}

section > aside dd::before {
  content:'» ';
}

section > aside > *:last-child {
  margin-bottom:0px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Footer.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

footer {
  margin-top:16px;
  font-size:10pt;
  color:var(--wiqi-text-2);
  text-align:center;
}

footer code {
  font-size:9pt;
  white-space:pre-wrap;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Text.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

p, ul, ol, dl, pre, h3, h4, h5, h6, ins, del, aside {
  margin-bottom:var(--wiqi-padding);
  display:block;
}

aside {
  font-style:italic;
  color:var(--wiqi-text-2);
}

aside::before {
  content:'(';
}

aside::after {
  content:')';
}

ins {
  text-decoration:none;
}

ins::before {
  content:'<addendum> ';
  font-style:italic;
  color:var(--wiqi-text-2);
  white-space:nowrap;
}

ins::after {
  content:' </addendum>';
  font-style:italic;
  color:var(--wiqi-text-2);
  white-space:nowrap;
}

li {
  margin-left:2ch;
}

h2, main > span > details > summary {
  font-size:1.5rem;
  font-weight:bold;
  border-bottom:4px solid var(--wiqi-primary);
  margin-bottom:var(--wiqi-padding);
}

code {
  font-size:var(--wiqi-font-code-size);
  font-family:var(--wiqi-font-code);
  hyphens:none;
}

pre > code {
  display:block;
  overflow:auto;
  white-space:pre;
  border:2px solid var(--wiqi-text);
  border-radius:8px;
  padding:var(--wiqi-padding);
}

dt {
  font-weight:bold;
}

dd + dt {
  margin-top:4px;
}

summary {
  font-style:italic;
}

summary:hover {
  cursor:pointer;
}

abbr {
  text-decoration:underline var(--wiqi-primary) dotted 2px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Images.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

figure {
  margin:16px auto;
  text-align:center;
}

figure + figure {
  margin-top:64px;
}

figcaption {
  max-width:50ch;
  font-size:12pt;
  margin:4px auto;
  text-align:justify;
  color:var(--wiqi-text-2);
}

img {
  max-width:100%;
}
