$font:KohSantepheap, sans-serif;
$fg:light-dark(#222, #fff);
$fg2:light-dark(#444, #ddd);
$bg:light-dark(#fff, #222);
$bg2:light-dark(#ddd, #444);
$mobileWidth:480px;

/* fonts ------------------------------------------------------------------- */

@font-face {
  font-family:KohSantepheap;
  src:url('../fonts/KohSantepheap-Regular.ttf');
  font-display:swap;
}

@font-face {
  font-family:KohSantepheap;
  font-weight:bold;
  src:url('../fonts/KohSantepheap-Bold.ttf');
  font-display:swap;
}

/* reset ------------------------------------------------------------------- */

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* page setup -------------------------------------------------------------- */

html {
  font:12pt $font;
  hyphens:auto;
  line-height:1.5;

  color:$fg;
  background:$bg;

  counter-reset:code;
}

body {
  max-width:60rem;
  height:100vh;
  max-height:100vh;
  margin:auto;
  padding:1rem;

  display:grid;
  grid-template:
    "main" 1fr
    "foot" min-content
  / 1fr;
}

main {
  grid-area:main;
}

footer {
  grid-area:foot;
}

/* main styling ------------------------------------------------------------ */

main {
  display:grid;

  @media (width > $mobileWidth) {
    grid-template:
      "input output" fit-content(100%)
    / 1fr 1fr;

    button#previewButton {
      display:none;
    }

    details#settings {
      position:fixed;
      left:0.5rem;
      top:0.5rem;
    }
  }

  @media (width <= $mobileWidth) {
    grid-template:
      "input input" 1fr
      "preview settings" min-content
    / 1fr min-content;

    section#output {
      display:none;
    }

    details#settings[open] {
      position:fixed;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
    }

    input#showInput, input#showOutput {
      display:none;

      &+ label {
        display:none;

        &+ br {
          display:none;
        }
      }
    }
  }
}

section#input {
  grid-area:input;
}

section#output {
  grid-area:output;
}

button#previewButton {
  grid-area:preview;
}

details#settings {
  grid-area:settings;
}

/* input styling ----------------------------------------------------------- */

section#input {
  textarea {
    width:100%;
    height:100%;

    padding:1rem;

    resize:none;
  }
}

/* output styling ---------------------------------------------------------- */

section#output {
  padding:1rem;
  border:0.2rem solid $bg2;
}

/* settings styling -------------------------------------------------------- */

details#settings {
  background:$bg2;
  padding:0.5rem;
  border-radius:0.5rem;

  @media print {
    display:none;
  }
}

/* print styling ----------------------------------------------------------- */

@page {
  margin:1rem;
  size:8.5in 11in;
}

@media print {
  details#settings {
    display:none;
  }

  section#input {
    display:none;
  }

  footer {
    display:none;
  }

  body {
    grid-template:
      "main" 1fr
    / 1fr;

    main {
      grid-template:
        "output" 1fr
      / 1fr;
    }
  }

  section#output {
    width:100%;
    height:100%;
    max-height:100%;

    margin:auto;
    padding:0 1rem;

    border:none;
  }
}

/* element styling --------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, pre, blockquote {
  margin-block:1rem;
}

section {
  margin:0.5rem;
  overflow:auto;
}

footer {
  font-size:0.8rem;
  text-align:center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}

h1:first-child {
  margin-top:0;
}

li {
  margin-left:2ch;
  margin-block:0.5rem;

  &::marker {
    content:'∙';
  }

  &[indent="1"] {
    margin-left:4ch;

    &::marker {
      content:'∘';
    }
  }

  &[indent="2"] {
    margin-left:6ch;

    &::marker {
      content:'∙';
    }
  }

  &[indent="3"] {
    margin-left:8ch;

    &::marker {
      content:'∘';
    }
  }
}

dd {
  margin-left:4ch;
}

blockquote {
  border-left:0.1rem solid $fg;
  padding-left:1rem;
}

pre {
  max-width:100%;
  overflow:auto;
}
