:root {
  /* variables, must start with a `--` */
  --wiqi-nav-font-size:14pt;

  --wiqi-page-width:700px;
  --wiqi-side-bar-width:256px;
  --wiqi-padding:8px;

  --c-maroon:#800000;
  --c-mauve:#E0B0FF;
  --c-chartreuse:#7FFF00;
}

body {
  /* applies to all HTML in the body (everything) */
  text-align:center;  /* center text by default */
  font-family:Arial, Helvetica, sans-serif;  /* if font isn't found uses the next in line */
  background-color:lightgrey;
}

p {
  margin-top:0px;
}

wiqi-nav {
  position:fixed;
  top:0;
  left:0;
  z-index:1000;

  width:100%;
  text-align:left;
  height:var(--wiqi-nav-font-size);
  padding:var(--wiqi-padding);
  
  background-color:white;
  border-bottom:1px solid black;
}

wiqi-nav a {
  font-size:var(--wiqi-nav-font-size);
  text-decoration:none;
}

wiqi-page {
  display:none;

  margin:auto;
  margin-top:calc(var(--wiqi-nav-font-size) + 3 * var(--wiqi-padding));

  background-color:white;
  min-height:80vh;

  overflow:auto;
}

wiqi-page[open] {
    display:block;
}

wiqi-section {
  display:block;
  
  max-width:var(--wiqi-page-width);
  margin:auto;

  overflow:auto;
}

wiqi-section > h1,
wiqi-section > h2 {
  border-bottom:1px solid black;
  width:calc(var(--wiki-page) - 2 * var(--wiqi-padding));
  text-align:left;
  margin:var(--wiqi-padding);
}

wiqi-section > h1 {
  text-align:center;
}

wiqi-content {
  display:block;  /* the default, but you have to say it yourself on custom tags */

  text-align:left;

  float:left;  /* go as leftmost as possible, and line up with other float:left elements */
  width:calc(100% - var(--wiqi-side-bar-width) - 3 * var(--wiqi-padding));
  /* max-width:var(--wiqi-content-max-width); */
  margin-bottom:var(--wiqi-padding);

  padding:var(--wiqi-padding);
}

wiqi-side-bar {
  display:block;

  float:left;  /* go to the left and try and be in the same line as wiqi-content, if you both fit */
  margin-bottom:var(--wiqi-padding);

  width:var(--wiqi-side-bar-width);
}

@media (width < 600px) {
  /* basically an if-statement for the total size of the screen.  so if a
   * desktop user makes the window small or someone opens this on mobile these
   * styles will activate and override the ones defined before */

  wiqi-content,
  wiqi-side-bar {
    float:none;
    margin:auto;
  }

  wiqi-content {
    width:95%;
  }

  wiqi-side-bar {
    width:60%;
  }
}

wiqi-profile {
  display:block;

  border:1px solid black;
  border-radius:8px;

  width:100%;
  margin:auto;  /* center the wiqi-profile inside the wiqi-side-bar */

  overflow:auto;
}

wiqi-profile > img {  /* affects all images DIRECTLY inside a wiqi-profile */
  width:60%;  /* 60% of space within the wiqi-profile, NOT 60% of the screen */

  /* for 60% of the screen, use 60vw (view width) or 60vh (view height) instead
   * of a percent */
}

wiqi-profile table {  /* affects all tables ANYWHERE inside a wiqi-profile */
  width:fit-content;
  margin:4px auto;  /* first number is the y/top/bottom, second is x/left/right */

  border-collapse:collapse;  /* only usable on tables, removes all space between rows/columns in table */
}

wiqi-profile table td {  /* all columns within all tables within wiqi-profile's */
  border-top:1px solid black;

  padding:4px 8px;  /* y, then x */
  vertical-align:top;

  /* these 2 apply at first to all columns in the table, but then are
   * overwritten later for some columns */
  text-align:right;
  font-style:italic;
}

/* the + means "only select elements that DIRECTLY follow after the pattern on
 * the left, and fit the pattern on the right", so this only selects columns
 * that DIRECTLY follow the previous style block
 *
 * so the first column of each row wont be selected, because it doesn't follow
 * another column, but the second (and potential third, fourth, etc.) will be
 *
 * using the + is very rare and can be weird to think about sometimes */
wiqi-profile table td + td {
  border-left:1px dotted grey;  /* separate the first and second columns */

  /* overwrite the text changes in the previous style block */
  text-align:left;
  font-style:normal;
}

wiqi-quote {
  display:block;

  background-color:lightgrey;
  padding:8px;
  font-family:'Courier new', Courier, monospace;
  border-radius:8px;

  margin-bottom:8px;
}

wiqi-quote q {
  display:block;

  padding:4px 0px;
}

wiqi-quote q[speaker="1"] {
  margin-left:0%;
}

wiqi-quote q[speaker="2"] {
  margin-left:15%;
}

wiqi-quote q[speaker="3"] {
  margin-left:30%;
}
