wiqi-nav {
  position:fixed;
  top:0;
  left:0;
  z-index:1000;

  width:100%;
  text-align:left;
  height:var(--wiqi-nav-font-size);
  padding:var(--wiqi-padding);
  
  background-color:white;
  border-bottom:1px solid black;
}

wiqi-nav a {
  font-size:var(--wiqi-nav-font-size);
  text-decoration:none;
}
