wiqi-profile {
  display:block;

  border:1px solid black;
  border-radius:8px;

  width:100%;
  margin:auto;  /* center the wiqi-profile inside the wiqi-side-bar */

  overflow:auto;
}

wiqi-profile > img {  /* affects all images DIRECTLY inside a wiqi-profile */
  width:60%;  /* 60% of space within the wiqi-profile, NOT 60% of the screen */

  /* for 60% of the screen, use 60vw (view width) or 60vh (view height) instead
   * of a percent */
}

wiqi-profile table {  /* affects all tables ANYWHERE inside a wiqi-profile */
  width:fit-content;
  margin:4px auto;  /* first number is the y/top/bottom, second is x/left/right */

  border-collapse:collapse;  /* only usable on tables, removes all space between rows/columns in table */
}

wiqi-profile table td {  /* all columns within all tables within wiqi-profile's */
  border-top:1px solid black;

  padding:4px 8px;  /* y, then x */
  vertical-align:top;

  /* these 2 apply at first to all columns in the table, but then are
   * overwritten later for some columns */
  text-align:right;
  font-style:italic;
}

/* the + means "only select elements that DIRECTLY follow after the pattern on
 * the left, and fit the pattern on the right", so this only selects columns
 * that DIRECTLY follow the previous style block
 *
 * so the first column of each row wont be selected, because it doesn't follow
 * another column, but the second (and potential third, fourth, etc.) will be
 *
 * using the + is very rare and can be weird to think about sometimes */
wiqi-profile table td + td {
  border-left:1px dotted grey;  /* separate the first and second columns */

  /* overwrite the text changes in the previous style block */
  text-align:left;
  font-style:normal;
}
