wiqi-page {
  display:none;

  margin:auto;
  margin-top:calc(var(--wiqi-nav-font-size) + 3 * var(--wiqi-page-padding));

  background-color:white;
  min-height:95vh;

  overflow:auto;
}

wiqi-page[open] {
  display:block;
}

wiqi-page section {
  max-width:var(--wiqi-page-width);
  margin:auto;

  overflow:auto;
}

wiqi-page section > h1,
wiqi-page section > h2 {
  border-bottom:1px solid black;
  width:calc(var(--wiki-page) - 2 * var(--wiqi-page-padding));
  text-align:left;
  margin:var(--wiqi-page-padding);
}

wiqi-page section > h1 {
  text-align:center;
}

wiqi-content {
  display:block;

  text-align:left;

  float:left;
  width:calc(100% - var(--wiqi-side-bar-width) - 3 * var(--wiqi-page-padding));
  margin-bottom:var(--wiqi-page-padding);

  padding:var(--wiqi-page-padding);
}

wiqi-side-bar {
  display:block;

  float:left;
  margin-bottom:var(--wiqi-page-padding);

  width:var(--wiqi-side-bar-width);
}

@media (width < 600px) {
  wiqi-content,
  wiqi-side-bar {
    float:none;
    margin:auto;
  }

  wiqi-content {
    width:95%;
  }

  wiqi-side-bar {
    width:60%;
  }
}
