:root {
  /* variables, must start with a `--` */
  --main-content-width:75%;
  --main-content-padd:8px;
}

body {
  /* applies to all HTML in the body (everything) */
  text-align:center;  /* center text by default */
  font-family:Arial, Helvetica, sans-serif;  /* if font isn't found uses the next in line */
}

main-content {
  display:block;  /* the default, but you have to say it yourself on custom tags */

  text-align:left;
  padding:var(--main-content-padd);  /* use a variable like this */
  margin-bottom:8px;
  
  float:left;  /* go as leftmost as possible, and line up with other float:left elements */
  width:var(--main-content-width);
}

side-bar {
  display:block;

  margin-bottom:8px;
  
  float:left;  /* go to the left and try and be in the same line as main-content, if you both fit */

  /* in order to guarentee both side-bar and main-content fit on the same line,
   * we do some math with the calc() function and the variables we made earlier
   *
   * we know main-content has width = --main-content-width, and it will have
   * padding on the left AND right = --main-content-padd.  so side-bar needs
   * to make room for --main-content-width and 2 --main-content-padd's: */
  width:calc(100% - var(--main-content-width) - 2 * var(--main-content-padd));
}

@media (width < 800px) {
  /* basically an if-statement for the total size of the screen.  so if a
   * desktop user makes the window small or someone opens this on mobile these
   * styles will activate and override the ones defined before */

  main-content,  /* use commas to make the same styles apply to multiple elements */
  side-bar {
    float:none;  /* disable floating */
    width:100%;  /* fill the whole screen side-to-side */

    /* this way, if the screen gets too small the side-bar just drops below
     * main-content instead of squishing it.  this @media stuff is very
     * complicated and this is the first time i have ever used it */
  }
}

wiki-profile {
  display:block;

  border:1px solid black;
  padding:4px;
  margin:4px;

  width:fit-content;
  margin:auto;  /* center the wiki-profile inside the side-bar */
}

wiki-profile > img {  /* affects all images DIRECTLY inside a wiki-profile */
  width:60%;  /* 60% of space within the wiki-profile, NOT 60% of the screen */

  /* for 60% of the screen, use 60vw (view width) or 60vh (view height) instead
   * of a percent */
}

wiki-profile table {  /* affects all tables ANYWHERE inside a wiki-profile */
  width:fit-content;
  margin:4px auto;  /* first number is the y/top/bottom, second is x/left/right */

  border-collapse:collapse;  /* only usable on tables, removes all space between rows/columns in table */
}

wiki-profile table td {  /* all columns within all tables within wiki-profile's */
  border-top:1px solid black;

  padding:4px 8px;  /* y, then x */
  vertical-align:top;

  /* these 2 apply at first to all columns in the table, but then are
   * overwritten later for some columns */
  text-align:right;
  font-style:italic;
}

/* the + means "only select elements that DIRECTLY follow after the pattern on
 * the left, and fit the pattern on the right", so this only selects columns
 * that DIRECTLY follow the previous style block
 *
 * so the first column of each row wont be selected, because it doesn't follow
 * another column, but the second (and potential third, fourth, etc.) will be
 *
 * using the + is very rare and can be weird to think about sometimes */
wiki-profile table td + td {
  border-left:1px dotted grey;  /* separate the first and second columns */

  /* overwrite the text changes in the previous style block */
  text-align:left;
  font-style:normal;
}

quote-environment {
  display:block;
  
  max-width:512px;
  
  background-color:lightgrey;
  padding:8px;
  font-family:'Courier new', Courier, monotype;
  border-radius:8px;
}

quote-environment q {
  display:block;
  
  max-width:70%;
  
  padding:4px 0px;
}

quote-environment q[speaker="md"] {
  text-align:right;
  margin-left:30%;
}
